<div>
  <form [formGroup]="newPostForm">
    <div class="fom-new">
      <div class="fom-new-lbl">
        <label for="txt_nickName">昵称</label>
        <label for="txt_content">内容</label>
      </div>
      <div class="fom-new-txt">
        <input type="text" id="txt_nickName" formControlName="nickName" placeholder="昵称 NickName">
        <textarea id="txt_content" cols="30" rows="6" formControlName="content" placeholder="内容最少 8 个字符 Content"></textarea>
      </div>
    </div>
    <div class="div-img-box">
      <div class="div-img">
        <label class="lbl-img" for="txt_img">图片</label>
      </div>
      <div class="div-img-preview">
        <preview-image maxWidth="250px" (fileChangeEvent)="fileChange($event)"></preview-image>
      </div>
    </div>
    <div class="div-action">
      <button class="btn" #postBtn type="button" (click)="submit()">提交</button>
    </div>
  </form>
</div>
