.div-base {
  padding: 0 1rem 3rem 1rem;
}

.div-list-item {
  display: flex;
  flex-direction: column;
  padding: .3rem;
  margin: .3rem 0rem;
  border: 1px solid #F90;
}

.div-item-name {
  display: flex;
  color: #F90;
  margin-bottom: 1rem;
}

.div-item-name>.name {
  color: #2196f3;
  cursor: pointer;
  text-decoration: underline;
}

.time {
  color: #bb7000;
  margin-left: 1rem;
}

.div-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  /* max-width: 800px; */
}

.div-content>.div-item-content {
  width: 80%;
  font-size: .9rem;
  margin: 0 .3rem;
}

.div-comment-list {
  margin: 1rem;
}

.div-comment-list>.div-comment {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: .3rem;
  margin: .2rem 0 .2rem .5rem;
  border: 1px solid #F90;
}

.div-comment>.div-comment-centent {
  font-size: .9rem;
  margin: 0 .5rem;
}

.a-more-comments {
  color: #F90;
  text-decoration: none;
}

.div-comment-new {
  color: #F90;
}