<div class="div-base">
  <div>
    <div class="div-list-item" *ngFor="let post of list; let i = index">
      <div class="div-item-name">
        <span class="name" title="回复">{{post.nickName}}</span>
        <div class="time">from: {{post.date}}</div>
      </div>
      <div class="div-content">

        <img class="{{post.img.style}}" src="{{post.img.current}}" alt="图片" (click)="changePostImg(i)">
        <div class="div-item-content">
          {{post.content}}
        </div>
      </div>
      
      <!-- 回复 -->
      <div>

      </div>

      <!-- 评论 -->
      <div class="div-comment-list">
        <div class="div-comment" *ngFor="let comment of post.comments; let commentIndex = index">
          <img class="{{img.style}}" *ngFor="let img of comment.imgs; let imgIndex = index" src="{{img.current}}"
            alt="图片" (click)="changeCommentImg(i, commentIndex, imgIndex)">
          <div class="div-comment-centent">
            <p class="div-item-name">{{comment.nickName}}
              <span class="time">from: {{comment.date}}</span>
            </p>
            {{comment.content}}
          </div>
        </div>
        <a href="javascript:;" *ngIf="post.hasMoreComments" class="a-more-comments" (click)="allComments(post.id, i)">更多评论</a>
      </div>

    </div>
  </div>
  <app-paginator (pageIndex)="changePage($event)" [totalRows]="totalRows"></app-paginator>
</div>
