.night {
  height: 100%;
  background-color: #000;
}

.night * {
  color: #FFF;
}

.night h1 {
  color: #F90 !important;
}

.night h2 {
  color: #b76e00 !important;
}

.night small {
  color: #b76e00 !important;
}

.night hr {
  border-color: #8e5500;
}

.night .fom-lbl {
  
}
